@font-face { 
    font-family: arcadeClassic; 
    src: url("font/arcadeClassic.ttf"); 
} 

map {
	vertical-align: top;
}

h1 {
	font-size: 30px;
}

/*#map {*/
/*	min-width: 650px;
	min-height: 500px;
	max-width: 457px;
	max-height: 500px;
}*/
/*span {
	width: 10px;
	height: 10px;
}*/

/* The Modal (background) */
#myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 90%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
#modalheader { /*Congrats, You Finished!*/
    text-align: center;
    font-size: 40px;
    font-family: arcadeClassic;
    text-decoration: underline;
}

#yourscore {
    text-align: center;
    font-family: arcadeClassic;
    font-size: 25px;
    font-weight: normal;
}

#button {

}
.button:hover,
.button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}